.social {
    --current-social-size: var(--social-size-default);
    --current-icon-size: var(--icon-size-default);
    --current-border: calc(var(--current-social-size) * var(--border-thickness));

    display: flex;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    gap: 10px;
    margin: 0;
    padding: 0;
    z-index: 10;
}

.social.small {
    --current-social-size: var(--social-size-small);
    --current-icon-size: var(--icon-size-small);
}

.social li {
    list-style: none;
}

.social li a {
    font-family: inherit;
    font-weight: normal;
    text-decoration: none;
    background-image: none;
    background-size: initial;
    background-position: initial;
    background-repeat: initial;
    transition: .5s;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--current-social-size);
    height: var(--current-social-size);
    padding: 0;
    margin: 0;
    border-radius: 50%;
    border: var(--current-border) solid var(--color-light);
    background-color: var(--color-light);
    color: var(--color-dark);
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-size: var(--current-icon-size);
    line-height: normal;
}

.social li a .icon {
    position: relative;
    color: var(--color-dark);
    transition: .5s;
    z-index: 3;
    font-size: var(--current-icon-size);
    line-height: 1;
}

.social li a:hover .icon {
    color: var(--color-light);
    transform: rotateY(360deg);
}

.social li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

.social li a:hover:before {
    top: 0;
}

.social li:nth-child(1) a:before {
    background: var(--color-dark);
}
