.user-input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 500px;
    z-index: 10;
    position: relative;
}

.user-input-form input {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    border: 2px solid var(--color-text);
    background-color: rgba(var(--color-background), 0);
    color: var(--color-text);
    border-radius: 0;
    outline: none;
    transition: border-color 0.5s;
}

.user-input-form input:focus {
    border-color: var(--color-light);
}

.user-input-form button {
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-background);
    background-color: var(--color-text);
    border: 2px solid var(--color-background);
    border-radius: 0;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.user-input-form button:hover {
    color: var(--color-text);
    border-color: var(--color-text);
    background-color: rgba(0, 0, 0, 0.05);
    transform: rotateY(360deg);
}

.user-input-form p {
    margin: 0;
    font-size: 1rem;
    color: var(--color-text);
}

.user-input-form input:disabled,
.user-input-form button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.user-input-form button:disabled:hover {
    background-color: var(--color-text);
    color: var(--color-background);
    transform: none;
}
